%script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"}
%script{:type => "text/javascript", :src => "http://maps.google.com/maps/api/js?sensor=false"}

.hero-unit
  %h1 Are there helicopters outside?
  %p
    = form_for(ChopServation.new, :remote => true) do |f|
      = f.hidden_field :sighted
      = f.hidden_field :latitude
      = f.hidden_field :longitude

      #do_they_know_reason{:style => "display: none;"}
        %p
          Do you know why?
          = f.submit "Yes", :id => "yes_reason"
          = f.submit "No", :id => "no_reason"

      #input_reason{:style => "display: none;"}
        %p
          Well then tell me!
          = f.text_field :reason
          = f.submit "Damn Chopper!"
      = f.submit "Yes", :id => "yes_chopper"
      = f.submit "No", :id => "no_chopper"

    #thanks{:style => "display: none;"}

.row
  .span6
    Reasons
  .span6#tweet_container


